body {
    background-color: #ccc4c4;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    margin-bottom: 10px;
}

/* NAV */
nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #0ea5e9;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}
form div {
    margin-bottom: 15px;
    text-align: left;
}
form label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}
form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}
form button {
    background-color: #0ea5e9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
form button:hover {
    background-color: #0b8ac9;
}
form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
}